<div class="container mt-4">
  <h1 class="text-center">Clinical decision support system</h1>
  <hr>
  <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            Use Case 1
          </div>
          <div class="card-body">
            <a href="#" class="btn btn-primary" (click)="goForView('drug1.json')">Go with drug1.json</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            Use Case 2
          </div>
          <div class="card-body">
            <a href="#" class="btn btn-primary" (click)="goForView('drug2.json')">Go with drug2.json</a>
          </div>
        </div>
      </div>
  </div>
  <hr>
  <h5 class="text-center">Form View</h5>
  <app-dynamic-form [drugsFormData]="sendData" (myOutput) ="GetChildData($event)"></app-dynamic-form>
</div>